.editor-div{
  height: 70svh;
  overflow: auto;
  border: 2px solid #98bef2;
  padding: 20px 10px;

}

.editor-div::-webkit-scrollbar {
  width: 8px; 
}

.editor-div::-webkit-scrollbar-thumb {
  background-color: gray; 
}

.editor-div::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}
