.save-button-div{
  margin-left: 20px;
}

.save-button{
  margin: auto !important;
  background-color: white;
  border: none;
  outline: none;
  padding: 10px 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500; 
  font-size: 16px; 
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  color: black;
  transition: all 0.4s ease;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.save-button:active{
  box-shadow: 0 0 2px black;
  background-color: white;
}